<section id="add">
  <form action="/" method="post">
    <textarea name="content" placeholder="Your note&hellip;"></textarea>
    <input type="submit" value="Take Note!">
  </form>
</section>

<form action='/upload' method='post' accept-charset="utf-8" enctype="multipart/form-data">
  <label for='content_file'>Image</label>
  <input type="file" name="content[file]" id="content_file" />
  <button type='submit'>Save</button>
</form>

<% @images.each do |image| %>
  <article>
    <p>
      <%=h image.caption %>
      <span><a href="/<%= image.id %>">[edit]</a></span>
    </p>
    <p class="meta">Created: <%= image.created_at %></p>
  </article>
<% end %>

<script type="text/javascript">
  $('#image_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB.');
    }
  });
</script>
